{% extends 'frame_selector/base.html' %}
{% bootstrap_css %} <!-- 追加 -- >

{% block content %}
<div class="fade_area">
  <h2 class="page_title">- About -</h2>
  <br>
  <div class="message">
    <h5>※本サイトは現在、ロードバイクのみ対応しています。</h5>
    <br>
    <p>自分の体にあったフレームサイズがなかなか見つからない...</p>
    <br>
    <p>フレームを交換したいけどジオメトリをあんまり変更したくない...</p>
    <br>
    <p>本サイトはそんなお悩みを持つサイクリストの方々へ、</p>
    <br>
    <p>少しでもお役立ち出来ればと思い作成しました。</p>
    <br>
    <p>（私自身困っていたので...）</p>
    <br>
    <p>至らない点も多々あるかと存じますがどうぞお気軽にご利用ください。</p>
    <br>
    <p>また、フレームデータの追加要望などありましたら</p>
    <br>
    <p>連絡先等は不要ですので、</p>
    <br>
    <p>Contactページのフォームよりご意見頂ければ幸いです。</p>
    <br>
    <p>それでは、良いサイクリングライフをお楽しみください！</p>
  </div>
</div>  
<br>
<br>
<br>
{% endblock %}